.clients {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.clients-title {
  font-size: 28px;
  margin-bottom: 30px;
}

.clients.list {
  @media screen and (max-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.clients-item {
  margin: 15px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $svg-icon-color;
  border-radius: 4px;

  transition: border-color 250ms $anima-timing;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  @media screen and (max-width: $tablet) {
    width: 210px;
    height: 90px;
  }

  @media screen and (min-width: $desktop) {
    width: 170px;
    height: 90px;
  }
}

.clients-link .icon {
  fill: $svg-icon-color;

  transition: fill 250ms $anima-timing;
}

.clients-link:hover .icon,
.clients-link:focus .icon {
  fill: $accent-color;
}
