.features {
  &-title {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin: -15px;
  }
}

.features .item {
  margin-bottom: 30px;
  @media screen and (min-width: $tablet) {
    width: 354px;
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
    margin: 15px;
  }
}

.features-box {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-bg-color;
  border-radius: 1px solid transparent;
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.features-icon {
  width: 70px;
  height: 70px;
}
