.page-footer {
  background-color: $hero-footer-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-align: left;
  }
}

.logo.bottom {
  color: $white;
  display: block;
  margin-bottom: 20px;
}

.page-footer__div {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    text-align: center;
  }
  @media screen and (min-width: $desktop) {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 70px;

    text-align-last: left;
  }
}

.address-physical {
  margin-top: 0;

  color: $white;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-bottom: 9px;
  }
}

.address-list {
  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }

  display: block;
  margin-bottom: 9px;

  color: $footer-address;
  font-size: 14px;
  line-height: 1.71;

  &:last-child {
    margin-bottom: 0;
  }
}

.join {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}

.join-appeal {
  display: block;
  margin-bottom: 20px;

  color: $white;
  text-transform: uppercase;
  line-height: 1.14;
}

.social.list {
  display: flex;
  justify-content: center;
}

.join .social-item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.join .social-link {
  width: 44px;
  height: 44px;
  background: $footer-social-icon-bg;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.join .icon {
  width: 20px;
  height: 20px;
  fill: $white;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.subscribe-input {
  height: 50px;

  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: inherit;
  color: $footer-address;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: $footer-address;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    width: 450px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe.button {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    max-width: 250px;
  }
}

.subscribe-button-text {
  margin-right: 10px;
}
