.page-header {
  position: relative;
  height: 60px;
  // vertical-align: middle;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $header-bottom-line;

  @media screen and (min-width: $tablet) {
    height: 80px;
  }

  & .container,
  &__nav {
    display: flex;
    align-items: center;
    @media screen and (max-width: $tablet) {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.page-header__nav {
  @media screen and (min-width: $tablet) {
    width: 100%;
    display: flex;
    // justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    align-items: center;
  }
}
